* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }
  *:before, *:after {
    box-sizing: border-box; }

button, input, optgroup, select, textarea {
  font-family: system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; }

ul li {
  list-style: none;
  padding: 0; }

img {
  max-width: 100%; }

body {
  font-family: system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 1.0rem;
  color: #000000; }

p {
  font-size: 18px;
  font-weight: 300; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 500; }

a {
  text-decoration: none;
  color: inherit; }
  a:hover {
    text-decoration: none;
    color: inherit; }
  a:focus {
    text-decoration: none;
    color: inherit; }
  a:active {
    text-decoration: none;
    color: inherit; }

.row {
  display: flex;
  flex-wrap: wrap; }

.column-1 {
  flex-basis: 8.33333%;
  max-width: 8.33333%;
  padding: 15px; }

.column-2 {
  flex-basis: 16.66667%;
  max-width: 16.66667%;
  padding: 15px; }

.column-3 {
  flex-basis: 25%;
  max-width: 25%;
  padding: 15px; }

.column-4 {
  flex-basis: 33.33333%;
  max-width: 33.33333%;
  padding: 15px; }

.column-5 {
  flex-basis: 41.66667%;
  max-width: 41.66667%;
  padding: 15px; }

.column-6 {
  flex-basis: 50%;
  max-width: 50%;
  padding: 15px; }

.column-7 {
  flex-basis: 58.33333%;
  max-width: 58.33333%;
  padding: 15px; }

.column-8 {
  flex-basis: 66.66667%;
  max-width: 66.66667%;
  padding: 15px; }

.column-9 {
  flex-basis: 75%;
  max-width: 75%;
  padding: 15px; }

.column-10 {
  flex-basis: 83.33333%;
  max-width: 83.33333%;
  padding: 15px; }

.column-11 {
  flex-basis: 91.66667%;
  max-width: 91.66667%;
  padding: 15px; }

.column-12 {
  flex-basis: 100%;
  max-width: 100%;
  padding: 15px; }

@media (min-width: 576px) {
  .column-sm-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%;
    padding: 15px; }
  .column-sm-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%;
    padding: 15px; }
  .column-sm-3 {
    flex-basis: 25%;
    max-width: 25%;
    padding: 15px; }
  .column-sm-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
    padding: 15px; }
  .column-sm-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%;
    padding: 15px; }
  .column-sm-6 {
    flex-basis: 50%;
    max-width: 50%;
    padding: 15px; }
  .column-sm-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%;
    padding: 15px; }
  .column-sm-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%;
    padding: 15px; }
  .column-sm-9 {
    flex-basis: 75%;
    max-width: 75%;
    padding: 15px; }
  .column-sm-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%;
    padding: 15px; }
  .column-sm-11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%;
    padding: 15px; }
  .column-sm-12 {
    flex-basis: 100%;
    max-width: 100%;
    padding: 15px; }
  .sm-hidden {
    display: none; }
  .sm-block {
    display: block; }
  .sm-flex {
    display: flex; } }

@media (min-width: 768px) {
  .column-md-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%;
    padding: 15px; }
  .column-md-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%;
    padding: 15px; }
  .column-md-3 {
    flex-basis: 25%;
    max-width: 25%;
    padding: 15px; }
  .column-md-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
    padding: 15px; }
  .column-md-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%;
    padding: 15px; }
  .column-md-6 {
    flex-basis: 50%;
    max-width: 50%;
    padding: 15px; }
  .column-md-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%;
    padding: 15px; }
  .column-md-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%;
    padding: 15px; }
  .column-md-9 {
    flex-basis: 75%;
    max-width: 75%;
    padding: 15px; }
  .column-md-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%;
    padding: 15px; }
  .column-md-11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%;
    padding: 15px; }
  .column-md-12 {
    flex-basis: 100%;
    max-width: 100%;
    padding: 15px; }
  .md-hidden {
    display: none; }
  .md-block {
    display: block; }
  .md-flex {
    display: flex; } }

@media (min-width: 992px) {
  .column-lg-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%;
    padding: 15px; }
  .column-lg-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%;
    padding: 15px; }
  .column-lg-3 {
    flex-basis: 25%;
    max-width: 25%;
    padding: 15px; }
  .column-lg-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
    padding: 15px; }
  .column-lg-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%;
    padding: 15px; }
  .column-lg-6 {
    flex-basis: 50%;
    max-width: 50%;
    padding: 15px; }
  .column-lg-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%;
    padding: 15px; }
  .column-lg-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%;
    padding: 15px; }
  .column-lg-9 {
    flex-basis: 75%;
    max-width: 75%;
    padding: 15px; }
  .column-lg-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%;
    padding: 15px; }
  .column-lg-11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%;
    padding: 15px; }
  .column-lg-12 {
    flex-basis: 100%;
    max-width: 100%;
    padding: 15px; }
  .lg-hidden {
    display: none; }
  .lg-block {
    display: block; }
  .lg-flex {
    display: flex; } }

@media (min-width: 1200px) {
  .column-xl-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%;
    padding: 15px; }
  .column-xl-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%;
    padding: 15px; }
  .column-xl-3 {
    flex-basis: 25%;
    max-width: 25%;
    padding: 15px; }
  .column-xl-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
    padding: 15px; }
  .column-xl-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%;
    padding: 15px; }
  .column-xl-6 {
    flex-basis: 50%;
    max-width: 50%;
    padding: 15px; }
  .column-xl-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%;
    padding: 15px; }
  .column-xl-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%;
    padding: 15px; }
  .column-xl-9 {
    flex-basis: 75%;
    max-width: 75%;
    padding: 15px; }
  .column-xl-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%;
    padding: 15px; }
  .column-xl-11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%;
    padding: 15px; }
  .column-xl-12 {
    flex-basis: 100%;
    max-width: 100%;
    padding: 15px; }
  .xl-hidden {
    display: none; }
  .xl-block {
    display: block; }
  .xl-flex {
    display: flex; } }

@media (min-width: 1600px) {
  .column-rt-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%;
    padding: 15px; }
  .column-rt-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%;
    padding: 15px; }
  .column-rt-3 {
    flex-basis: 25%;
    max-width: 25%;
    padding: 15px; }
  .column-rt-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
    padding: 15px; }
  .column-rt-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%;
    padding: 15px; }
  .column-rt-6 {
    flex-basis: 50%;
    max-width: 50%;
    padding: 15px; }
  .column-rt-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%;
    padding: 15px; }
  .column-rt-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%;
    padding: 15px; }
  .column-rt-9 {
    flex-basis: 75%;
    max-width: 75%;
    padding: 15px; }
  .column-rt-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%;
    padding: 15px; }
  .column-rt-11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%;
    padding: 15px; }
  .column-rt-12 {
    flex-basis: 100%;
    max-width: 100%;
    padding: 15px; }
  .rt-hidden {
    display: none; }
  .rt-block {
    display: block; }
  .rt-flex {
    display: flex; } }

.portfolio-item {
  padding: 0; }
